<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout :: layout(~{::content})}">
<head>
    <meta charset="UTF-8">
    <title>Training Profile</title>
</head>
<body>
<div th:fragment="content">
    <main class="container-fluid p-5">

        <!-- Description / Kommentar -->
        <div class="p-4 mb-4 bg-body-tertiary rounded-3">
            <h2>About Me</h2>
            <p th:text="${profile.description}">Mein Trainingsprofil — automatisch generiert.</p>

            <button class="btn btn-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#editDescriptionModal">
                Beschreibung bearbeiten
            </button>

            <button type="button"
                    class="btn btn-primary"
                    data-bs-toggle="modal"
                    th:data-bs-target="'#addExerciseModal}'">
                Übung hinzufügen
            </button>
        </div>

        <!-- Trainingssplit -->
        <div class="mb-4 w-100">
            <h3 class="p-3 bg-body-tertiary" th:text="'Training Split: ' + ${split.splitName}">Push-Pull-Legs</h3>

            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#editSplitModal">
                Trainingssplit bearbeiten
            </button>

            <div class="row g-2 w-100">
                <div class="col" th:each="day : ${split.days}">
                    <div class="p-2 border rounded-3 bg-body-secondary text-center h-100 d-flex flex-column w-100">
                        <strong th:text="${day.weekday}">Montag</strong>
                        <ul class="list-unstyled mt-2 flex-grow-1">
                            <li th:each="ex : ${day.personalExercises}" th:text="${ex.name} + ' - '   + 'X' "></li>  <!--${ex.sets}-->
                            <li th:if="${#lists.isEmpty(day.personalExercises)}" class="text-muted">RESTDAY</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <a></a>
        <!-- Body Measurements -->
        <div class="mb-4">
            <h3>Body Measurements</h3>
            <div class="row g-2">

                <!-- BMI -->
                <div class="col-md-2">
                    <div class="p-3 border rounded-3 text-center">
                        <strong>BMI</strong>
                        <p th:text="${measurements.bmi}"
                           th:class="${measurements.bmi < 18.5} ? 'text-primary' : (${measurements.bmi >= 25} ? 'text-danger' : 'text-success')">
                        </p>
                    </div>
                </div>

                <!-- Arms -->
                <div class="col-md-2">
                    <div class="p-3 border rounded-3 text-center">
                        <strong>Arm Links</strong>
                        <p th:text="${measurements.armLinks.value}">32.0</p>
                    </div>
                    <div class="p-3 border rounded-3 text-center mt-2">
                        <strong>Arm Rechts</strong>
                        <p th:text="${measurements.armRechts.value}">32.5</p>
                    </div>
                </div>


                <!-- Unterarme -->
                <div class="col-md-2">
                    <div class="p-3 border rounded-3 text-center">
                        <strong>Unterarm Links</strong>
                        <p th:text="${measurements.unterarmLinks.value}">28.0</p>
                    </div>
                    <div class="p-3 border rounded-3 text-center mt-2">
                        <strong>Unterarm Rechts</strong>
                        <p th:text="${measurements.unterarmRechts.value}">28.2</p>
                    </div>
                </div>

                <!-- Beine -->
                <div class="col-md-2">
                    <div class="p-3 border rounded-3 text-center">
                        <strong>Bein Links</strong>
                        <p th:text="${measurements.beinLinks.value}">55.0</p>
                    </div>
                    <div class="p-3 border rounded-3 text-center mt-2">
                        <strong>Bein Rechts</strong>
                        <p th:text="${measurements.beinRechts.value}">55.5</p>
                    </div>
                </div>

                <!-- Brust/Schulter/Taille/Hüfte -->
                <div class="col-md-2">
                    <div class="p-3 border rounded-3 text-center">
                        <strong>Brust</strong>
                        <p th:text="${measurements.brust.value}">100.0</p>
                    </div>
                    <div class="p-3 border rounded-3 text-center mt-2">
                        <strong>Schulter</strong>
                        <p th:text="${measurements.schulter.value}">50.0</p>
                    </div>
                    <div class="p-3 border rounded-3 text-center mt-2">
                        <strong>Taille</strong>
                        <p th:text="${measurements.taille.value}">85.0</p>
                    </div>
                    <div class="p-3 border rounded-3 text-center mt-2">
                        <strong>Hüfte</strong>
                        <p th:text="${measurements.huefte.value}">95.0</p>
                    </div>
                </div>

            </div>

        </div>


        <div th:replace="~{fragments/training_dialogs/edit-description :: editDescriptionModal}"></div>
        <div th:replace="~{fragments/training_dialogs/editSplitModal :: editSplitModal}"></div>
        <div th:replace="~{fragments/training_dialogs/addExerciseModal :: addExerciseModal}"></div>

    </main>
</div>
</body>
</html>
