<!DOCTYPE html>
<html lang="en">
<body>

<div th:fragment="addExerciseModal">
    <div class="modal fade" id="addExerciseModal" tabindex="-1" aria-hidden="true" data-bs-target="#staticBackdrop">
        <div class="modal-dialog">
            <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title">Übung hinzufügen</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>

<!--            <form th:action="@{/training/profile/me/add-exercise-to-day}"-->
<!--                  method="post"-->
<!--                  class="needs-validation"-->
<!--                  novalidate>-->

<!--                <div class="modal-body">-->

<!--                    <input type="hidden" name="trainingDayId" id="trainingDayInput">-->

<!--                    <label class="form-label">Übung auswählen</label>-->
<!--                    <select class="form-select" name="personalExerciseId" required>-->
<!--                        <option value="">Bitte wählen...</option>-->
<!--                        <option th:each="ex : ${allExercises}"-->
<!--                                th:value="${ex.id}"-->
<!--                                th:text="${ex.name}">-->
<!--                        </option>-->
<!--                    </select>-->

<!--                    <div class="invalid-feedback">-->
<!--                        Bitte wähle eine Übung aus.-->
<!--                    </div>-->

<!--                </div>-->

<!--                <div class="modal-footer">-->
<!--                    <button type="button"-->
<!--                            class="btn btn-secondary"-->
<!--                            data-bs-dismiss="modal">-->
<!--                        Abbrechen-->
<!--                    </button>-->
<!--                    <button type="submit" class="btn btn-success">-->
<!--                        Hinzufügen-->
<!--                    </button>-->
<!--                </div>-->
<!--            </form>-->
        </div>
    </div>
</div>
</div>
</body>
</html>