<div th:fragment="editDescriptionModal" xmlns:th="http://www.thymeleaf.org">
    <div class="modal fade" id="editDescriptionModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <form th:action="@{/training/profile/update-description}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" th:text="#{trainingprofile.description.edit}">Beschreibung bearbeiten</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>

                    <div class="modal-body">
                        <textarea class="form-control" name="description" rows="5"
                                  th:text="${profile != null ? profile.description : ''}"></textarea>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{workouts.cancel}">Abbrechen</button>
                        <button type="submit" class="btn btn-primary" th:text="#{workouts.save}">Speichern</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
