<div th:fragment="chatMemberList(chatMembers, isAdmin, chatId)" class="col-lg-8 col-md-7">
    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-between align-items-center mb-3">
                <h5 class="mb-0" th:text="#{members.title}">Members</h5>
                <div>
                    <!--Future Invite Button system direct search -->
                    <button th:if="${false}" class="btn btn-sm btn-primary me-2" th:text="#{invite.button}">Invite</button>
                </div>
            </div>

            <ul class="list-group">
                <li th:each="member,iter : ${chatMembers}" th:attr="id=|member-${iter.index}|"
                    class="list-group-item d-flex align-items-center">
                    <img th:src="${member.pictureUrl}" alt="member" class="rounded-circle me-3" width="40" height="40">
                    <div class="flex-grow-1">
                        <div class="fw-bold" th:text="${member.displayName}">Name</div>
                    </div>
                    <span th:switch="${member.role}">
                        <span th:case="'ADMIN'" class="badge bg-success m-2" th:text="#{role.owner}">Owner</span>
                        <span th:case="'MEMBER'" class="badge bg-secondary m-2" th:text="#{role.member}">Member</span>
                        <span th:case="'READ_ONLY'" class="badge bg-info m-2" th:text="#{role.read_only}">Read-only</span>
                        <span th:case="*" class="badge bg-secondary m-2" th:text="#{role.member}">Member</span>
                    </span>
                    <button th:if="${isAdmin}" class="btn btn-sm btn-outline-danger"
                            th:attr="data-delete-url=@{/chat/{chatId}/members/{memberEmail}(chatId=${chatId},memberEmail=${member.email})},
                                     data-confirm=#{chat.member.remove_confirm},
                                     data-target=|member-${iter.index}|"
                            th:onclick="|fetchDelete(this.dataset.deleteUrl, this.dataset.confirm, this.dataset.target)|">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-person-dash-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M11 7.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5"/>
                            <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                        </svg>
                    </button>
                </li>
            </ul>

        </div>
    </div>
</div>