<!DOCTYPE html>
<html lang="en">
<div th:fragment="messageInput" class="d-flex align-items-center gap-2 pe-3 pt-3 mt-2" style="flex:0 0 auto;">
    <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava6-bg.webp"
         alt="avatar 3" class="rounded-circle" style="width:40px; height:40px;">
    <input type="text" class="form-control form-control-lg flex-grow-1"
           id="exampleFormControlInput2"
           placeholder="Type message">
    <a class="text-muted" href="#!"><i class="fas fa-paperclip"></i></a>
    <a class="text-muted" href="#!"><i class="fas fa-smile"></i></a>
    <a href="#!" class="text-decoration-none"><i class="fas fa-paper-plane"></i></a>
</div>
</html>