<div th:fragment="chatMessage(message, roomType)"
     class="d-flex flex-row justify-content-end"
     th:attr="data-message-id=${message.id}, data-cursor=${message.cursor}">
    <div style="max-width: calc(100% - 60px);">
        <p class="small p-2 me-3 mb-1 text-white rounded-3 bg-primary"
           th:text="${message.content}"
           style="white-space: pre-wrap; overflow-wrap: anywhere; word-break: break-word;">
            Message
        </p>
        <p class="small me-3 mb-3 rounded-3 text-muted" th:text="${message.sentAt}">Time</p>
    </div>
    <img th:if="${roomType != 'DM'}" th:src="${message.sender.SenderPictureUrl}"
         alt="avatar" style="width: 45px; height: 45px; object-fit: cover;">
</div>