<form th:fragment="messageInput"
      th:if="${messagePage.canSend}"
      th:action="@{/chat/{chatId}/messages(chatId=${messagePage.roomId})}" method="post"
      th:object="${sendChatMessageDto}"
      class="d-flex align-items-center gap-2 pe-3 pt-3 mt-2"
      style="flex:0 0 auto;">
    <button type="button" class="btn btn-link p-0 text-muted" aria-label="Attach file" th:attr="aria-label=#{chat.attach.aria}">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-paperclip" viewBox="0 0 16 16">
            <path d="M4.5 3a2.5 2.5 0 0 1 5 0v9a1.5 1.5 0 0 1-3 0V5a.5.5 0 0 1 1 0v7a.5.5 0 0 0 1 0V3a1.5 1.5 0 1 0-3 0v9a2.5 2.5 0 0 0 5 0V5a.5.5 0 0 1 1 0v7a3.5 3.5 0 1 1-7 0z"/>
        </svg>
    </button>
    <input type="text" class="form-control form-control-lg flex-grow" aria-label="Message input"
           th:placeholder="#{chat.input.placeholder}"
           th:attr="aria-label=#{chat.input.aria}"
           autocomplete="off"
           th:field="*{content}">
    <button type="submit" class="btn btn-link p-0" aria-label="Send message" th:attr="aria-label=#{chat.send.aria}">
        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
            <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
        </svg>
    </button>
</form>