<div class="mb-3 row align-items-start exercise-log-row adhoc-row" xmlns:th="http://www.thymeleaf.org">
    <div class="col-sm-3">
        <select class="form-select adhoc-exercise-select">
            <option value="" selected disabled>Choose exercise...</option>
            <option th:each="ex : ${allExercises}" th:value="${ex.id}" th:text="${ex.name}"></option>
        </select>
    </div>
    <div class="col-sm-2">
        <div class="input-group">
            <span class="input-group-text">Sets</span>
            <input type="number" class="form-control sets-input" value="3" required>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="reps-container d-flex flex-column gap-1"></div>
    </div>
    <div class="col-sm-1">
        <button type="button" class="btn btn-sm btn-danger remove-row-btn">X</button>
    </div>
</div>