<div th:fragment="nav-sidebar" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary h-100" style="width: 280px;">
        <ul class="nav nav-pills flex-column mb-auto">
            <li sec:authorize="hasAuthority('ADMIN')">
                <a href="/admin/dashboard" class="nav-link link-body-emphasis">
                    <img class="bi pe-none me-2" th:src="@{/images/svg/person-circle.svg}" width="16" height="16"
                         alt=""/>
                    <span th:text="#{nav.admin.dashboard}">Admin Dashboard</span>
                </a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN', 'GYM_OWNER', 'GYM_WORKER', 'PENDING_GYM_WORKER')">
                <a href="/dashboard" class="nav-link link-body-emphasis">
                    <img class="bi pe-none me-2" th:src="@{/images/svg/person-circle.svg}" width="16" height="16"
                         alt=""/>
                    <span th:text="#{nav.dashboard}">Dashboard</span>
                </a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN', 'USER', 'GYM_WORKER', 'GYM_OWNER')">
                <a href="/map" class="nav-link link-body-emphasis">
                    <img class="bi pe-none me-2" th:src="@{/images/svg/person-circle.svg}" width="16" height="16"
                         alt=""/>
                    <span th:text="#{nav.map}">Map</span>
                </a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN','USER', 'GYM_OWNER', 'GYM_WORKER')">
                <a href="/chat" class="nav-link link-body-emphasis">
                    <img class="bi pe-none me-2" th:src="@{/images/svg/person-circle.svg}" width="16" height="16"
                         alt=""/>
                    <span th:text="#{nav.chat}">Chat</span>
                </a>
            </li>
            <li sec:authorize="hasAnyAuthority('USER')">
                <a href="/friends" class="nav-link link-body-emphasis">
                    <img class="bi pe-none me-2" th:src="@{/images/svg/person-circle.svg}" width="16" height="16"
                         alt=""/>
                    <span th:text="#{nav.friends}">Friends</span>
                </a>
            </li>
            <li sec:authorize="hasAnyAuthority('USER')">
                <a href="/matching" class="nav-link link-body-emphasis">
                    <img class="bi pe-none me-2" th:src="@{/images/svg/person-circle.svg}" width="16" height="16"
                         alt=""/>
                    <span th:text="#{nav.matching}">Find Training Partners</span>
                </a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN','USER')">
                <a href="/workouts" class="nav-link link-body-emphasis">
                    <img class="bi pe-none me-2" th:src="@{/images/svg/person-circle.svg}" width="16" height="16"
                         alt=""/>
                    <span th:text="#{nav.workouts}">Workouts</span>
                </a>
            </li>
            <li sec:authorize="hasAnyAuthority('ADMIN','USER')">
                <a th:href="@{'/training/profile/me'}" class="nav-link link-body-emphasis">
                    <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
                        <use xlink:href="#grid"></use>
                    </svg>
                    My Profile
                </a>
            </li>
        </ul>
    </div>
</div>
