<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="layout(pageContent)">
<head>
    <meta charset="UTF-8">
    <title>TrainTogether</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSRF Token -->
    <th:block th:if="${_csrf}">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    </th:block>

    <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}"/>

    <!-- Custom Scripts -->
    <script src="/js/theme-toggle.js"></script>
    <script src="/js/split-editor.js"></script>
</head>
<body class="vh-100 d-flex flex-column">

<header th:replace="~{fragments/appbar :: appbar}"></header>

<!-- Sidebar + Content -->
<main class="d-flex flex-grow-1 overflow-hidden">
    <aside sec:authorize="isAuthenticated()" th:replace="~{fragments/sidebar :: nav-sidebar}"
           class="flex-shrink-0"></aside>
    <div class="flex-grow-1 overflow-auto">
        <section th:insert="${pageContent}"></section>
    </div>
</main>
</body>
</html>