<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="layout(pageContent)">
<head>
    <meta charset="UTF-8">
    <title>TrainTogether</title>
    <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/webjars/jquery/3.7.1/jquery.min.js}"></script>
    <link rel="stylesheet"
          th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}"/>
    <script th:src="@{/webjars/popper.js/2.11.7/umd/popper.min.js}" defer></script>
</head>
<body class="vh-100 d-flex flex-column">

<header th:replace="~{fragments/appbar :: appbar}"></header>

<!-- toast container -->
<div th:replace="~{fragments/toast :: toasts}"></div>

<!-- Sidebar + Content -->
<main class="d-flex flex-grow-1 overflow-hidden">
    <aside sec:authorize="isAuthenticated()" th:replace="~{fragments/sidebar :: nav-sidebar}"
           class="flex-shrink-0"></aside>
    <div class="flex-grow-1 d-flex">
        <section th:insert="${pageContent}" class="h-100 w-100"></section>
    </div>
</main>
</body>
<script src="/js/theme-toggle.js"></script>

</html>