<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{authenticate :: authlayout(~{::authContent})}">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form th:fragment="authContent" class="mx-auto" method="post" th:action="@{/register}"
      th:object="${registerDto}">

    <h1 class="h3 mb-3 fw-normal" th:text="#{auth.register}">Register</h1>

    <div class="form-floating mb-2">
        <input type="email" th:field="*{email}" id="registerEmail" class="form-control"
               placeholder="name@example.com"
               required>
        <label for="registerEmail" th:text="#{auth.email}">Email address</label>
        <div class="text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
    </div>
    <div th:if="${registerError}" class="alert alert-danger" th:text="${registerError}"></div>

    <div class="form-floating mb-3">
        <input type="password" th:field="*{password}" id="registerPassword" class="form-control"
               th:placeholder="#{auth.password}"
               required>
        <label for="registerPassword" th:text="#{auth.password}">Password</label>
        <div class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    </div>

    <div class="form-floating mb-3">
        <input type="text" th:field="*{username}" id="registerUsername" class="form-control"
               th:placeholder="#{auth.username.optional}">
        <label for="registerUsername" th:text="#{auth.username.optional}">Username (optional)</label>
        <div class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    </div>

    <div class="form-floating mb-3">
        <input type="text" th:field="*{firstName}" id="registerFirstName" class="form-control"
               placeholder="First Name" required>
        <label for="registerFirstName">First Name</label>
        <div class="text-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></div>
    </div>

    <div class="form-floating mb-3">
        <input type="text" th:field="*{lastName}" id="registerLastName" class="form-control"
               placeholder="Last Name" required>
        <label for="registerLastName">Last Name</label>
        <div class="text-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
    </div>
    <button class="btn btn-primary w-100 py-2 mb-2" type="submit" th:text="#{auth.register}">Register</button>

    <div class="d-grid gap-2 mt-3">
        <a th:href="@{/login}" class="btn btn-outline-secondary py-2" role="button">
            <span th:text="#{auth.sign.in}">Login</span>
        </a>
        <a th:href="@{/register/gym-owner}" class="btn btn-outline-primary py-2" role="button">
            <i class="bi bi-building me-2"></i>
            <span th:text="#{auth.register_gym_owner}">Register as Gym Owner</span>
        </a>
    </div>
</form>
</body>
</html>