<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{authenticate :: authlayout(~{::authContent})}">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<form th:fragment="authContent" class="mx-auto" method="post" th:action="@{/register}">

    <h1 class="h3 mb-3 fw-normal" th:text="#{auth.register}">Register</h1>

    <div class="form-floating mb-2">
        <input type="email" name="email" id="registerEmail" class="form-control"
               placeholder="name@example.com"
               required>
        <label for="registerEmail" th:text="#{auth.email}">Email address</label>
    </div>
    <div th:if="${registerError}" class="alert alert-danger" th:text="${registerError}"></div>

    <div class="form-floating mb-3">
        <input type="password" name="password" id="registerPassword" class="form-control"
               th:placeholder="#{auth.password}"
               required>
        <label for="registerPassword" th:text="#{auth.password}">Password</label>
    </div>

    <div class="form-floating mb-3">
        <input type="text" name="username" id="registerUsername" class="form-control"
               th:placeholder="#{auth.username.optional}">
        <label for="registerUsername" th:text="#{auth.username.optional}">Username (optional)</label>
    </div>

    <div class="mb-3">
        <label for="registerRole" class="form-label">Role</label>
        <select name="role" id="registerRole" class="form-select">
            <option value="USER">User</option>
            <option value="PENDING_GYM_OWNER">Gym Owner</option>
            <option value="PENDING_GYM_WORKER">Gym Worker</option>
        </select>
    </div>

    <button class="btn btn-primary w-100 py-2 mb-3" type="submit" th:text="#{auth.register}">Register</button>
    <div class="d-flex justify-content-center align-items-center gap-2">
        <span class="text-secondary" th:text="#{registration.have.account}">Already have an account? </span>
        <a class="link-secondary" href="login"
           th:text="#{auth.sign.in}">Login</a>
    </div>
</form>
</body>
</html>